:host {
  min-height: 100px;
  position: relative;
  display: flex;
}

activity {
  width: 200px;
  flex-direction: row;
}

h1 {
  color: #b4b6d1;
  position: absolute;
  bottom: 5px;
  left:15%;
  margin: 0;
  text-transform: uppercase;
  font-size: 1em;
}
