:host {
  display: block;
}

channel {
  display: block;
}

channel:nth-child(even) { background: #edeef5; }
channel:nth-child(odd) { background: #ffffff; }

.button-group{
  display:flex;
}

.button-container{
  margin-top:30px;
}

button, label {
  display: block;
  margin: auto;
  padding:15px;
}

label{
  width:300px;
}
